@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(to bottom, #ffffff, #3ca7ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #0077ff;
    border: 2px solid #0077ff;
}

.formLogin {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formLogin h1 {
    color: #1f008d;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.formLogin p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 5px;
}

.formLogin input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #1f008d;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formLogin input:focus {
    border-color: #1f008d;
    box-shadow: 0 0 5px #0077ff;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #0077ff;
    color: #fff;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0077ff;
    box-shadow: 0px 0px 10px #0077ff;
    transform: translateY(-2px);
}

.btn-secondary {
    background-color: #333;
    color: #0077ff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.btn-secondary:hover {
    background-color: #0077ff;
    color: #fff;
}
.logo-link {
    display: block;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 100px;
}

.logo-img {
    height: 120px;
    width: auto;
}

.alert-success {
    background-color: #d1f5d3;
    color: #27632a;
    border: 1px solid #b5e3b8;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}
